# Default pipeline.cfg file for METVIEW connection.
# =================================================

# Configure available memory managers.
# =============================================================================

[MemoryManager]
size=2

# Numerical weather prediction memory manager gets 10 GB system memory.
1\name=NWP
1\size_MB=10240

# Memory manager that caches analysis results (10 MB are sufficient).
2\name=Analysis
2\size_MB=10


# Configure data processing pipelines.
# =============================================================================

[NWPPipeline]
size=1

1\name=MetView
# Path and file filter are not required for Metview connection.
1\path=
1\fileFilter=
1\schedulerID=MultiThread
1\memoryManagerID=NWP
1\fileFormat=ECMWF_GRIB
1\enableRegridding=false
1\enableProbabilityRegionFilter=false
1\treatRotatedGridAsRegularGrid=false
1\gribSurfacePressureFieldType=auto
1\convertGeometricHeightToPressure_ICAOStandard=false
1\auxiliary3DPressureField=
1\disableGridConsistencyCheck=false
#!TODO (12Mar2018, mr) -- The following default mapping from variable names
# in the ECMWF grib files only works for forecast (fc) datasets, not for
# ensemble (ens) or analysis (an) datasets. Possibly set these values from
# Metview.
1\inputVarsForDerivedVars=eastward_wind:u (fc)/northward_wind:v (fc)/air_temperature:t (fc)/specific_humidity:q (fc)/surface_geopotential:z (fc)/surface_air_pressure:sp (fc)/surface_temperature:2t (fc)/lwe_thickness_of_precipitation_amount:tp (fc)
